body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{
    list-style: none;
    width: 720px;  
    
    flex: left;
}
ul li{
    float: left;
    background: url(aba-direita.png) no-repeat top right;
    }
    li a{
        background: url(aba-esquerda.png) no-repeat top left;
        padding:  0 2em;
        line-height: 2em;
        color: aliceblue;
        text-decoration: none;
       display: block; 
    }
    a:hover{
        color: black;
    }
    ul #atual{
        background: url(aba-direita-atual.png);
    }
    ul #atual a{
        background: url(aba-esquerda-atual.png) no-repeat ;
    }
    