<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
  <div id="container"> 
  
  <div id="marca"> marca</div> 
 <div id="conteudo">
  <div id="principal">  
<h2> money</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis et alias rerum error praesentium sapiente vel, nam dicta. Ab maiores nostrum ipsa quae similique porro voluptates reiciendis cumque sequi dolorum.</p>
  </div>
  <div id="secundario">
<h2> filhote</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore corrupti adipisci voluptate fugit quaerat, enim est consequuntur molestiae maxime beatae voluptatibus placeat r</p>

  </div>
 </div>
  </div>
  <div id="navegacao">
    <ul>
        <li><a href="#"> Home</a></li>
        <li><a href="#"> Sobre</a></li>
        <li><a href="#"> Notícias</a></li>
        <li> <a href="#"> Produtos</a></li>
    </ul>
  </div>
  <div id="rodape"> rodape</div> 
</div>
</body>
</html>